{% block body %}
<h1>Bylo Vám změněno heslo:</h1>
<h3><i>Milá paní učitelko / pane učiteli, bylo Vám změněno heslo do systému Testy online:</i></h3>

<h4><b>Nové heslo: </b>{{new_psw}}</h4> - heslo bylo vytvořeno administrátorem, ihned po přihlášení si jej prosím <b>změňte v nastavení</b>

V přihlášení pokračujte <a href="http://www.testy.stpr.cz">ZDE</a>
<i>Tento email byl vygenerován automaticky prosím neodpovídejte na něj. V případě problémů kontaktujte školního administrátora.</i>
{% endblock %}